# **Import**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from tabulate import tabulate
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
df_original = pd.read_excel('/Users/yana/Downloads/electronics.xlsx')

# **Data preparation**

In [3]:
df = df_original.copy()

In [3]:
df = df_original.copy()

In [4]:
df.head()

,Order_ID,Email_new,Phone_new,Source,OrderDate,время,месяц,ChangeDate,DeliveryDate,PaymentDate,Status,Status_ID,OneClick,CancelReason,Actions,DeliveryType,PaymentType,Region,Area,Store_ID,FullSum,Discount,IM_Rozn_Sum,Row_ID,Articul,Nom_Name,NomGroup,Quant,RowPrice,RowDiscount,RowSum,Brand,TN,TK,NomFullPath,Week,Nom_ID
0,1303000509_TT,55666668105117_iu29@yandex.ru,55485656-57565656575275,Онлайн-Резерв.,2016-03-30,08:46:30.000,201603,2016-03-30 09:31:57.000,2016-04-06 00:00:00.000,1900-01-01 00:00:00.000,Отменен,17,0,Тестовый заказ,NaN,Самовывоз,Наличные,Москва,Москва,3066,39519.00,0.0,39519.00,1.0,1157790.0,Доставка до точки выдачи,Доставка,1.0,0.0,0.0,0.0,NaN,NaN,NaN,Услуги/Доставка/,13.0,35554.0
1,1303000509_TT,55666668105117_iu29@yandex.ru,55485656-57565656575275,Онлайн-Резерв.,2016-03-30,08:46:30.000,201603,2016-03-30 09:31:57.000,2016-04-06 00:00:00.000,1900-01-01 00:00:00.000,Отменен,17,0,Тестовый заказ,NaN,Самовывоз,Наличные,Москва,Москва,3066,39519.00,0.0,39519.00,3.0,1138110.0,"""Гарант +"" - Договор страхования, обеспечивающ...",Гарант +,1.0,3520.0,0.0,3520.0,NaN,NaN,NaN,Услуги/Страхование техники/Гарант +/,13.0,16686.0
2,1303000509_TT,55666668105117_iu29@yandex.ru,55485656-57565656575275,Онлайн-Резерв.,2016-03-30,08:46:30.000,201603,2016-03-30 09:31:57.000,2016-04-06 00:00:00.000,1900-01-01 00:00:00.000,Отменен,17,0,Тестовый заказ,NaN,Самовывоз,Наличные,Москва,Москва,3066,39519.00,0.0,39519.00,2.0,1180135.0,Телевизор LED Samsung UE-40J6200AU Smart,Smart телевизоры,1.0,35999.0,0.0,35999.0,Samsung,ТВ-Аудио,Телевизоры LCD,"Телевизоры, аудио, видео/Телевизоры/Smart теле...",13.0,95567.0
3,1303000510_TT,55666668105117_iu29@yandex.ru,55485656-57565656575275,Онлайн-Резерв.,2016-03-30,11:22:51.000,201603,2016-03-30 11:24:32.000,2016-04-06 00:00:00.000,1900-01-01 00:00:00.000,Отменен,17,0,Тестовый заказ,NaN,Курьерская,Наличные,Москва,Москва,2189,96665.66,0.0,96665.66,1.0,1104611.0,"Доставка ""Стандарт"" зона 0",Доставка,1.0,490.0,0.0,490.0,NaN,NaN,NaN,Услуги/Доставка/,13.0,29329.0
4,1303000510_TT,55666668105117_iu29@yandex.ru,55485656-57565656575275,Онлайн-Резерв.,2016-03-30,11:22:51.000,201603,2016-03-30 11:24:32.000,2016-04-06 00:00:00.000,1900-01-01 00:00:00.000,Отменен,17,0,Тестовый заказ,NaN,Курьерская,Наличные,Москва,Москва,2189,96665.66,0.0,96665.66,4.0,1087811.0,"Крепление LCD-телевизора на стену, подключение...",Установка и настройка ТВ,2.0,3990.0,0.0,7980.0,NaN,NaN,NaN,Установка и настройка техники/Установка и наст...,13.0,2748.0

In [5]:
def columnValues(df):
    row = [df.nunique(), (df == 0).sum(axis=0), df.isna().sum(), round(df.isna().sum() / len(df) * 100, 1), df.dtypes]
    return row

data = []
for column in df:
    data.append([column] + columnValues(df[column]))

print(tabulate(data, headers=['Column', 'Count Unique', 'Count Zeros', 'Count NaNs','% of NaNs', 'data type'], tablefmt='orgtbl'))

| Column       |   Count Unique |   Count Zeros |   Count NaNs |   % of NaNs | data type      |
|--------------+----------------+---------------+--------------+-------------+----------------|
| Order_ID     |         166794 |             0 |            0 |         0   | object         |
| Email_new    |          99284 |         61516 |            0 |         0   | object         |
| Phone_new    |         123135 |          7575 |            0 |         0   | object         |
| Source       |              4 |             0 |            0 |         0   | object         |
| OrderDate    |             61 |             0 |            0 |         0   | datetime64[ns] |
| время        |          58549 |             0 |            0 |         0   | object         |
| месяц        |              2 |             0 |            0 |         0   | int64          |
| ChangeDate   |         155189 |             0 |            0 |         0   | object         |
| DeliveryDate |            100 |             0 |            0 |         0   | object         |
| PaymentDate  |         105118 |             0 |            0 |         0   | object         |
| Status       |             15 |             0 |            0 |         0   | object         |
| Status_ID    |             15 |             0 |            0 |         0   | int64          |
| OneClick     |              2 |        326057 |            0 |         0   | int64          |
| CancelReason |             34 |             0 |       230868 |        64.7 | object         |
| Actions      |             41 |             0 |       261496 |        73.2 | object         |
| DeliveryType |              2 |             0 |         8285 |         2.3 | object         |
| PaymentType  |              7 |             0 |            0 |         0   | object         |
| Region       |             73 |             0 |            2 |         0   | object         |
| Area         |             61 |             0 |         1631 |         0.5 | object         |
| Store_ID     |            167 |           965 |            0 |         0   | int64          |
| FullSum      |          15995 |            65 |           20 |         0   | float64        |
| Discount     |           1920 |        309994 |           20 |         0   | float64        |
| IM_Rozn_Sum  |          20622 |          5574 |           20 |         0   | float64        |
| Row_ID       |             41 |             0 |           20 |         0   | float64        |
| Articul      |          26930 |             0 |           20 |         0   | float64        |
| Nom_Name     |          26888 |             0 |           58 |         0   | object         |
| NomGroup     |            849 |             0 |           20 |         0   | object         |
| Quant        |             43 |             5 |           20 |         0   | float64        |
| RowPrice     |           9601 |        152336 |           20 |         0   | float64        |
| RowDiscount  |           2006 |        333347 |           20 |         0   | float64        |
| RowSum       |          12377 |        152813 |           20 |         0   | float64        |
| Brand        |           1179 |             0 |       166141 |        46.5 | object         |
| TN           |             17 |             0 |       166101 |        46.5 | object         |
| TK           |            112 |             0 |       166101 |        46.5 | object         |
| NomFullPath  |            878 |             0 |           20 |         0   | object         |
| Week         |              9 |             0 |           20 |         0   | float64        |
| Nom_ID       |          26928 |             3 |           20 |         0   | float64        |

In [6]:
df.shape

(357036, 37)

In [7]:
#delete Email_new column
df = df.drop(columns=['Email_new'])

In [8]:
df.shape

(357036, 36)

In [9]:
#delete rows with null phone numbers
df = df.loc[df['Phone_new'] != 0]

In [10]:
df.shape

(349461, 36)

In [11]:
#delete cheques with negative discounts (possible system errors)
df = df.loc[~df['Order_ID'].isin(['5429143_BX', '5581960_BX', '5826714_BX'])]

In [12]:
df.shape

(349451, 36)

In [13]:
#delete rows with null RowSum values, as we don't need "free" products
df = df.loc[df['RowSum'] != 0]

In [14]:
df.shape

(200233, 36)

In [15]:
#see the share of discount from the real cost of goods, record in additionally created column DiscountPercent
df['DiscountPercent'] = df['RowDiscount'] / (df['RowSum'] + df['RowDiscount'])

In [16]:
#removing strings at over 90% off
df = df.loc[df['DiscountPercent'] < 0.9]
df = df.drop(columns = ['DiscountPercent'])

In [17]:
df.shape

(200202, 36)

In [18]:
df = df.drop(columns=['OrderDate', 'время', 'ChangeDate', 'DeliveryDate', 'Status_ID', 'OneClick', 'Actions', 
                      'DeliveryType', 'Area', 'Store_ID', 'Discount', 'IM_Rozn_Sum', 'Row_ID', 'Articul',
                      'Brand', 'NomFullPath', 'Week', 'Nom_ID'])

In [19]:
df.CancelReason.unique()

array(['Тестовый заказ', 'Клиент не пришел за заказом',
       'Нет связи с клиентом', nan, 'Нет партнерского товара',
       'Витринный образец/Брак товара', 'Несколько заказов',
       'Клиент передумал', 'Не поступила оплата',
       'Нарушение сроков доставки', 'Купил в магазине',
       'Дублирование заказа',
       'Клиент отказался назвать причину  отмены заказа',
       'Не устроила дата доставки',
       'Не устроила дата доставки партнерского товара', 'Нет товара',
       'Не устроила цена', 'Не устроила цена партнерского товара',
       'Не устроили характеристики товара', 'Неполные данные в заказе',
       'Дублирование заказа техническое', 'Другое (указать в примечании)',
       'Негативные отзывы о товара', 'Отказ при осмотре',
       'Ошибка в модели', 'Отказ в выдаче кредита',
       'Не устроил срок обработки заказа', 'Качество товара',
       'Витрина/брак/некондиция/качество товара',
       'Не устроило время доставки', 'Негативные отзывы о компании',
       'Не устроили дата/время доставки', 'Ошибка поставки', 'Контент',
       'Ошибка в информации о товаре'], dtype=object)

In [20]:
# delete lines with errors, duplicated and test orders
# (CancelReason - reason for order cancellation)
df = df.loc[~df['CancelReason'].isin(['Тестовый заказ', 'Несколько заказов', 'Дублирование заказа',
                  'Дублирование заказа техническое', 'Ошибка в модели'])]

In [21]:
df.Status.unique()

array(['Отменен', 'Выдан клиенту', 'Отказ на месте',
       'Доставлен в магазин', 'Доставлен частично в магазин',
       'Согласован', 'Собран', 'В обработке', 'Передан на доставку',
       'Дубль заказа', 'Подтвержден на доставку', 'Ожидает осмотра',
       'Не собран', 'Собран частично'], dtype=object)

In [22]:
#The Status column can also be used to exclude duplicate orders
df = df.loc[~df['Status'].isin(['Дубль заказа'])]

In [23]:
#find all services in the NomGroup column (while creating an auxiliary dataframe with values containing "services")
df_1= df[df['NomGroup'].str.contains('услуг', regex=False, case=False, na=False)]
df_1.NomGroup.unique()

array(['Услуги'], dtype=object)

In [24]:
#remove items from the NomGroup category - Services
df = df.loc[df['NomGroup'] != 'Услуги']

In [25]:
#in the NomGroup column, delete all deliveries
df_2= df[df['NomGroup'].str.contains('достав', regex=False, case=False, na=False)]
df_2.NomGroup.unique()

array(['Доставка'], dtype=object)

In [26]:
df = df.loc[df['NomGroup'] != 'Доставка']

In [27]:
df.shape

(183221, 18)

In [28]:
#сolumns Region are filled with the names of the corresponding federal districts
df['Region'] = df['Region'].replace(['Москва', 'Белгород', 'Владимир', 'Воронеж', 'Иваново', 'Калуга', 'Кострома', 'Курск', 'Липецк', 'Люберцы', 'Мытищи', 
                                     'Подольск', 'Рязань', 'Сергиев Посад', 'Серпухов', 'Смоленск', 'Тамбов', 'Тверь', 'Тула', 'Ярославль'], 'Центральный ф.о.')
df['Region'] = df['Region'].replace(['Великий Новгород', 'Вологда', 'Воркута', 'Всеволожск', 'Выборг', 'Гатчина', 'Кингисепп', 'Кириши', 'Колпино', 'Мурманск', 
                                     'Петрозаводск', 'Псков', 'Пушкин', 'Санкт-Петербург', 'Тихвин', 'Череповец'], 'Северо-Западный ф.о.')
df['Region'] = df['Region'].replace(['Ижевск', 'Казань', 'Набережные Челны', 'Нижний Новгород', 'Новокуйбышевск', 'Пенза', 'Пермь', 'Самара', 'Саратов', 
                                     'Тольятти', 'Ульяновск', 'Уфа', 'Чебоксары'], 'Приволжский ф.о.')
df['Region'] = df['Region'].replace(['Барнаул', 'Горно-Алтайск', 'Иркутск', 'Кемерово', 'Красноярск', 'Новокузнецк', 'Новосибирск', 'Омск', 'Томск'], 'Сибирский ф.о.')
df['Region'] = df['Region'].replace(['Волгоград', 'Краснодар', 'Новочеркасск', 'Пятигорск', 'Ростов-на-Дону', 'Сочи', 'Ставрополь'], 'Южный ф.о.')
df['Region'] = df['Region'].replace(['Екатеринбург', 'Нижневартовск', 'Нижний Тагил', 'Ноябрьск', 'Сургут', 'Тюмень', 'Челябинск'], 'Уральский ф.о.')

In [29]:
df['Region'] = df['Region'].replace({'Владивосток': 'Дальневосточный ф.о.'})

In [30]:
df.Region.unique()

array(['Центральный ф.о.', 'Северо-Западный ф.о.', 'Сибирский ф.о.',
       'Приволжский ф.о.', 'Уральский ф.о.', 'Южный ф.о.',
       'Дальневосточный ф.о.', nan], dtype=object)

In [31]:
df.shape

(183221, 18)

In [32]:
#view of our data after the transformations have been performed
def columnValues(df):
    row = [df.nunique(), (df == 0).sum(axis=0), df.isna().sum(), round(df.isna().sum() / len(df) * 100, 1), df.dtypes]
    return row

data_1 = []
for column in df:
    data_1.append([column] + columnValues(df[column]))

print(tabulate(data_1, headers=['Column', 'Count Unique', 'Count Zeros', 'Count NaNs','% of NaNs', 'data type'], tablefmt='orgtbl'))

| Column       |   Count Unique |   Count Zeros |   Count NaNs |   % of NaNs | data type   |
|--------------+----------------+---------------+--------------+-------------+-------------|
| Order_ID     |         158988 |             0 |            0 |         0   | object      |
| Phone_new    |         122711 |             0 |            0 |         0   | object      |
| Source       |              4 |             0 |            0 |         0   | object      |
| месяц        |              2 |             0 |            0 |         0   | int64       |
| PaymentDate  |         102269 |             0 |            0 |         0   | object      |
| Status       |             13 |             0 |            0 |         0   | object      |
| CancelReason |             29 |             0 |       121014 |        66   | object      |
| PaymentType  |              7 |             0 |            0 |         0   | object      |
| Region       |              7 |             0 |            1 |         0   | object      |
| FullSum      |          15797 |             0 |            0 |         0   | float64     |
| Nom_Name     |          26669 |             0 |           10 |         0   | object      |
| NomGroup     |            845 |             0 |            0 |         0   | object      |
| Quant        |             43 |             1 |            0 |         0   | float64     |
| RowPrice     |           9560 |             1 |            0 |         0   | float64     |
| RowDiscount  |           1980 |        160560 |            0 |         0   | float64     |
| RowSum       |          12292 |             0 |            0 |         0   | float64     |
| TN           |             17 |             0 |         1338 |         0.7 | object      |
| TK           |            112 |             0 |         1338 |         0.7 | object      |

(there is one line left with a blank region, it will be further excluded, because the order is cancelled)

**Let's examine the TN and Nom_Name columns in more detail. When reviewing the uploaded preliminary table, it was found that the missing TN values are various installation, customisation services, etc. They should be excluded.**

In [33]:
df_3= df[df['Nom_Name'].str.contains('устан', regex=False, case=False, na=False)]
df_3.Nom_Name.unique()

array(['Подкл.стир.,посудом.машин станд.устан.',
       'Станд.установ.газ.плиты отдельностоящей',
       'Установка холод.б/дораб.коммун+перев.дв',
       'Установка напольного унитаза', 'Станд.установ.дух шкафа газ.',
       'Станд.установ.вар.поверх.газ.',
       'Подкл.накоп.водонаг.бол.30л ст.устан',
       'Установка Bosch PLS 300+PTC 1 0603B04100',
       'Станд.установ.кондиц.(модели 5,7,9,10)',
       'Установочный набор Mystery MAK 2.08',
       'Установка смесителя на гибкой подводке',
       'Фигурка Schleich Черный мустанг на дыбах',
       'Станд.установ.кондиц.(модели 12,13,14)'], dtype=object)

In [34]:
df = df.loc[~df['Nom_Name'].isin(['Подкл.стир.,посудом.машин станд.устан.',
       'Станд.установ.газ.плиты отдельностоящей',
       'Установка холод.б/дораб.коммун+перев.дв',
       'Установка напольного унитаза', 'Станд.установ.дух шкафа газ.',
       'Станд.установ.вар.поверх.газ.',
       'Подкл.накоп.водонаг.бол.30л ст.устан',
       'Установка Bosch PLS 300+PTC 1 0603B04100',
       'Станд.установ.кондиц.(модели 5,7,9,10)',
       'Установочный набор Mystery MAK 2.08',
       'Установка смесителя на гибкой подводке',
       'Станд.установ.кондиц.(модели 12,13,14)'])]

In [35]:
df_4= df[df['Nom_Name'].str.contains('подк', regex=False, case=False, na=False)]
df_4.Nom_Name.unique()

array(['Подкл.стир.,посудом.машин с частич.дораб',
       'Подкл.встр.СМА,ПМ/маш к готов.коммун', 'Подкл. варочной панели',
       'Подкл. духового шкафа', 'ТВ-модуль АКАДО Телеком Подключи сам!',
       'Подкл.холодильника: б/дораб.коммуникаций',
       'Подкл.СМА,посудом.с доработкой сантех',
       'Подкл. эл.плиты отдельностоящей',
       'Подкл.встр.СМА,ПМ/маш с дораб.сантех+эл',
       'Подключение GROHE Euphoria Cube 27704000',
       'Подкл.СМА,посудом.с дораб.сантех+электр.',
       'Подкл.варочной панели и духового шкафа',
       'Подкл. холодильника встраив.',
       'Крепление LCD-телевизора на стену, подключение, настройка и сортировка каналов (размер диагонали 41-47")',
       'Подкл.накоп.водонаг.до 30л с доработк.',
       'Подключение GROHE Relexa 28628000',
       'Подкл.накоп.водонаг.бол.30л с дораб',
       'Подкл.холод Side by Side дораб.коммун.',
       'Подключение GROHE Relexa 28671000',
       'Подключение стиральной машины (Эконом)',
       'Крепление LCD-телевизора на стену, подключение, настройка и сортировка каналов (размер диагонали 33-40")'],
      dtype=object)

In [36]:
df = df.loc[~df['Nom_Name'].isin(['Подкл.стир.,посудом.машин с частич.дораб',
       'Подкл.встр.СМА,ПМ/маш к готов.коммун', 'Подкл. варочной панели',
       'Подкл. духового шкафа',
       'Подкл.холодильника: б/дораб.коммуникаций',
       'Подкл.СМА,посудом.с доработкой сантех',
       'Подкл. эл.плиты отдельностоящей',
       'Подкл.встр.СМА,ПМ/маш с дораб.сантех+эл',
       'Подключение GROHE Euphoria Cube 27704000',
       'Подкл.СМА,посудом.с дораб.сантех+электр.',
       'Подкл.варочной панели и духового шкафа',
       'Подкл. холодильника встраив.',
       'Крепление LCD-телевизора на стену, подключение, настройка и сортировка каналов (размер диагонали 41-47")',
       'Подкл.накоп.водонаг.до 30л с доработк.',
       'Подключение GROHE Relexa 28628000',
       'Подкл.накоп.водонаг.бол.30л с дораб',
       'Подкл.холод Side by Side дораб.коммун.',
       'Подключение GROHE Relexa 28671000',
       'Подключение стиральной машины (Эконом)',
       'Крепление LCD-телевизора на стену, подключение, настройка и сортировка каналов (размер диагонали 33-40")'])]

In [37]:
df_5= df[df['Nom_Name'].str.contains('сборк', regex=False, case=False, na=False)]
df_5.Nom_Name.unique()

array(['Сборка мебели от стоимости от 0-12000',
       'Сборка мебели от стоимости от 12001-24000',
       'Сборка мебели и тумб для ПК и ТВ'], dtype=object)

In [38]:
df = df.loc[~df['Nom_Name'].isin(['Сборка мебели от стоимости от 0-12000',
       'Сборка мебели от стоимости от 12001-24000',
       'Сборка мебели и тумб для ПК и ТВ'])]

In [39]:
df_6= df[df['Nom_Name'].str.contains('сервис', regex=False, case=False, na=False)]
df_6.Nom_Name.unique()

array(['Программа дополнительного сервисного обслуживания Сервис + на 2 года',
       'Программа дополнительного сервисного обслуживания Сервис + на 1 год',
       'Программа дополнительного сервисного обслуживания Сервис + на 3 года',
       'Сервис+2.0 на 1 год', 'Сервис+2.0 на 2 года',
       'Сервис+2.0 на 3 года'], dtype=object)

In [40]:
df = df.loc[~df['Nom_Name'].isin(['Программа дополнительного сервисного обслуживания Сервис + на 2 года',
       'Программа дополнительного сервисного обслуживания Сервис + на 1 год',
       'Программа дополнительного сервисного обслуживания Сервис + на 3 года',
       'Сервис+2.0 на 1 год', 'Сервис+2.0 на 2 года',
       'Сервис+2.0 на 3 года'])]

In [41]:
df_7= df[df['Nom_Name'].str.contains('настро', regex=False, case=False, na=False)]
df_7.Nom_Name.unique()

array(['Набор Bonita Настроение 20100212661',
       'Настройка LCD-телевизора, сортировка каналов',
       'Крепление LCD-телевизора на стену без настройки и сортировки каналов (размер диагонали 48-55")',
       'Крепление LCD-телевизора на стену без настройки и сортировки каналов (размер диагонали 41-47")'],
      dtype=object)

In [42]:
df_8= df[df['Nom_Name'].str.contains('поли', regex=False, case=False, na=False)]
df_8.Nom_Name.unique()

array(['Полировщик Bellissima 5154 д/ногтей',
       'Игрушка SIKU Тягач с вертолетом. полиц.',
       'Каталка Italtrike Полицейская машина гол',
       'Полис Ринко "Защита МАКС"',
       'Набор Welly Военно-полицейская команда',
       'Игра Hasbro Монополия всемирная',
       'Сумка Targus TBS045EU 16" полиэстер',
       'Сумка Targus TSS124EU 16" полиэстер', 'КПБ Нежность Полина 1502',
       'Игра Hasbro Монополия Миллионер',
       'Игра Hasbro Моя первая монополия'], dtype=object)

In [43]:
df = df.loc[~df['Nom_Name'].isin(['Настройка LCD-телевизора, сортировка каналов',
       'Крепление LCD-телевизора на стену без настройки и сортировки каналов (размер диагонали 48-55")', 
       'Крепление LCD-телевизора на стену без настройки и сортировки каналов (размер диагонали 41-47")', 
       'Полис Ринко "Защита МАКС"'])]

In [44]:
df_9= df[df['Nom_Name'].str.contains('гарант', regex=False, case=False, na=False)]
df_9.Nom_Name.unique()

array(['«Гарант +» - Договор страхования, обеспечивающий защиту техники от негарантийной поломки, механического повреждения'],
      dtype=object)

In [45]:
df_10= df[df['Nom_Name'].str.contains('навес', regex=False, case=False, na=False)]
df_10.Nom_Name.unique()

array(['Навес вытяжки кам.типа б/воздуховода',
       'Навес вытяжки встраив. б/воздуховода',
       'Навес вытяжки плоской б/воздуховода'], dtype=object)

In [46]:
df_11= df[df['Nom_Name'].str.contains('монтаж', regex=False, case=False, na=False)]
df_11.Nom_Name.unique()

array(['Лента Scotch 411-Med-RU монтажная',
       'АКЦИЯ! Монтаж спутниковой антенны до 89см на балкон'],
      dtype=object)

In [47]:
df = df.loc[~df['Nom_Name'].isin(['Гарантийный талон Bosch (эл.инструмент)',
       '«Гарант +» - Договор страхования, обеспечивающий защиту техники от негарантийной поломки, механического повреждения', 
       'Навес вытяжки кам.типа б/воздуховода', 'Навес вытяжки встраив. б/воздуховода',
       'Навес вытяжки плоской б/воздуховода', 'АКЦИЯ! Монтаж спутниковой антенны до 89см на балкон'])]

In [48]:
df.shape

(181911, 18)

In [49]:
def columnValues(df):
    row = [df.nunique(), (df == 0).sum(axis=0), df.isna().sum(), round(df.isna().sum() / len(df) * 100, 1), df.dtypes]
    return row

data_3 = []
for column in df:
    data_3.append([column] + columnValues(df[column]))

print(tabulate(data_3, headers=['Column', 'Count Unique', 'Count Zeros', 'Count NaNs','% of NaNs', 'data type'], tablefmt='orgtbl'))

| Column       |   Count Unique |   Count Zeros |   Count NaNs |   % of NaNs | data type   |
|--------------+----------------+---------------+--------------+-------------+-------------|
| Order_ID     |         158974 |             0 |            0 |           0 | object      |
| Phone_new    |         122706 |             0 |            0 |           0 | object      |
| Source       |              4 |             0 |            0 |           0 | object      |
| месяц        |              2 |             0 |            0 |           0 | int64       |
| PaymentDate  |         102261 |             0 |            0 |           0 | object      |
| Status       |             13 |             0 |            0 |           0 | object      |
| CancelReason |             29 |             0 |       120148 |          66 | object      |
| PaymentType  |              7 |             0 |            0 |           0 | object      |
| Region       |              7 |             0 |            1 |           0 | object      |
| FullSum      |          15797 |             0 |            0 |           0 | float64     |
| Nom_Name     |          26619 |             0 |           10 |           0 | object      |
| NomGroup     |            836 |             0 |            0 |           0 | object      |
| Quant        |             43 |             1 |            0 |           0 | float64     |
| RowPrice     |           9519 |             1 |            0 |           0 | float64     |
| RowDiscount  |           1980 |        159253 |            0 |           0 | float64     |
| RowSum       |          12263 |             0 |            0 |           0 | float64     |
| TN           |             17 |             0 |           38 |           0 | object      |
| TK           |            112 |             0 |           38 |           0 | object      |

In [50]:
#removal of rows with goods cheaper than 200 rubles (these are various batteries, napkins, spoons, etc.).
df = df.loc[df['RowPrice'] > 200]

In [51]:
#we don't need the RowPrice column anymore
df = df.drop(columns=['RowPrice'])

In [52]:
#payment methods reduced to online prepayment and postpayment (card and cash on receipt)
df.PaymentType.unique()

array(['Наличные', 'КартойПриПолучении', 'RBK Money', 'Кредит в магазине',
       'PayPal', 'Квитанция Сбербанка', 'Банк Тинькофф'], dtype=object)

In [53]:
df['PaymentType'] = df['PaymentType'].replace({'КартойПриПолучении': 'при получении', 'Наличные': 'при получении',
                                               'PayPal': 'предоплата онлайн', 'Квитанция Сбербанка': 'предоплата онлайн',
                                               'RBK Money': 'предоплата онлайн', 'Кредит в магазине': 'предоплата онлайн',
                                               'Банк Тинькофф': 'предоплата онлайн', })

In [54]:
df.TK.unique()

array(['Хозтовары', 'Телевизоры LCD', 'Картриджи и бумага', 'Плиты',
       'Приготовление пищи', 'Портативная электроника',
       'Красота и здоровье', 'Музыкальные инструменты', 'Электропитание',
       'Мобильные средства связи', 'Гостиная', 'Игрушки',
       'Велосипеды и аксессуары',
       'Аксессуары для комп./ноутбуков/принтеров', 'Планшеты', 'Фитнес',
       'Силовая и садовая техника', 'Инструменты', 'Встраиваемая техника',
       'Автоэлектроника', 'Швейная техника', 'Стиральные машины',
       'Уход за домом', 'Сантехника', 'Холодильное оборудование',
       'Компьютеры настольные', 'Аксессуары для смартфонов и планшетов',
       'Товары для кухни', 'Прихожая', 'Вентиляторы бытовые',
       'Увлажнители', 'Игровые консоли', 'Посудомоечные машины',
       'Офис и Кабинет', 'Носители информации', 'Прогулки и путешествие',
       'Аксессуары для мебели', 'Периферийные устройства', 'Туризм',
       'Тренажеры', 'Аксессуары для бытовой техники', 'СВЧ',
       'Водонагреватели', 'Компьютеры портативные', 'Единоборства',
       'Сетевое оборудование', 'Наушники', 'Детская комната',
       'Аудио-Видео', 'Фотоаппараты', 'Зимние виды спорта', 'Спальня',
       'Средства связи', 'Очистители воздуха', 'Игры для консолей',
       'Тяжелая атлетика', 'Кормление', 'Кухня и Столовая',
       'Аксессуары ТВ-Аудио', 'Воздухонагреватели', 'Текстиль',
       'Антивирусные программы', 'Свет',
       'Аксессуары для спортивных товаров', 'Операционные системы',
       'Декор интерьера', 'Освещение', 'Аксессуары для фото/видео',
       'Для мам', 'Автомультимедия', 'Сервировка стола', 'Камины',
       'Кондиционеры', 'Активный отдых', 'Рыбалка', 'Подарки МБТ',
       'Автопринадлежности', 'Аксессуары детство', 'Аудиомагнитолы',
       'Автомагнитолы', 'Купание и уход', 'Командные виды спорта',
       'Мягкая мебель', 'Встраиваемые духовые шкафы (VIP)', 'Видеокамеры',
       nan, 'Аксессуары авто', 'Аксессуары для игровых приставок',
       'Услуги по пластиковым картам', 'Контракты сотовой связи и НТВ+',
       'Музыкальные центры', 'Умный дом',
       'DVD/Blu-Ray плееры и компоненты', 'Hi-Fi компоненты', 'Навигация',
       'Товары для автолюбителей', 'Индивидуальные виды спорта',
       'DVD с записью', 'Ванна, баня и сауна', 'Автоакустика',
       'Домашние театры', 'Ванная', 'Автоаудио', 'Сушильные машины',
       'Аккумуляторы', 'Стиральные машины (VIP)',
       'Материалы для инсталляции',
       'Встраиваемые микроволновые печи (VIP)', 'Садовая мебель',
       'Встраиваемые вытяжки (VIP)'], dtype=object)

In [55]:
#under TK column exclude shop gifts, Plastic card services (gift vouchers), packaging and contracts with mobile and TV operators
df = df.loc[~df['TK'].isin(['Подарки МБТ', 'Подарки КБТ', 'Услуги по пластиковым картам', 'Упаковка', 'Контракты сотовой связи и НТВ+'])]

In [56]:
df.shape

(178738, 17)

In [57]:
def columnValues(df):
    row = [df.nunique(), (df == 0).sum(axis=0), df.isna().sum(), round(df.isna().sum() / len(df) * 100, 1), df.dtypes]
    return row

data_4 = []
for column in df:
    data_4.append([column] + columnValues(df[column]))

print(tabulate(data_4, headers=['Column', 'Count Unique', 'Count Zeros', 'Count NaNs','% of NaNs', 'data type'], tablefmt='orgtbl'))

| Column       |   Count Unique |   Count Zeros |   Count NaNs |   % of NaNs | data type   |
|--------------+----------------+---------------+--------------+-------------+-------------|
| Order_ID     |         157433 |             0 |            0 |           0 | object      |
| Phone_new    |         121964 |             0 |            0 |           0 | object      |
| Source       |              4 |             0 |            0 |           0 | object      |
| месяц        |              2 |             0 |            0 |           0 | int64       |
| PaymentDate  |         101334 |             0 |            0 |           0 | object      |
| Status       |             13 |             0 |            0 |           0 | object      |
| CancelReason |             29 |             0 |       118042 |          66 | object      |
| PaymentType  |              2 |             0 |            0 |           0 | object      |
| Region       |              7 |             0 |            1 |           0 | object      |
| FullSum      |          15633 |             0 |            0 |           0 | float64     |
| Nom_Name     |          25861 |             0 |            3 |           0 | object      |
| NomGroup     |            818 |             0 |            0 |           0 | object      |
| Quant        |             42 |             0 |            0 |           0 | float64     |
| RowDiscount  |           1978 |        156311 |            0 |           0 | float64     |
| RowSum       |          12080 |             0 |            0 |           0 | float64     |
| TN           |             15 |             0 |           38 |           0 | object      |
| TK           |            106 |             0 |           38 |           0 | object      |

In [58]:
df.Source.unique()

array(['Онлайн-Резерв.', 'Колл-центр', 'Сайт', 'Терминал'], dtype=object)

In [59]:
df_reserved = df

In [60]:
#keep only cheques with more than 2 items on them

rows_per_order = (
    df.groupby('Order_ID')
      .size()
      .reset_index(name='NumRows')
)

orders_gt2 = rows_per_order.loc[rows_per_order['NumRows'] >= 2, 'Order_ID']
df = df[df['Order_ID'].isin(orders_gt2)].copy()

In [61]:
df.shape

(35566, 17)